Document/*
Library/
Temp/
*.DS_Store
*.csproj
*.sln
*.userprefs
Assets/Test
Assets/Test.meta
.vs/
obj/
/exportPlist.plist
/TestData
/UWA_Builds
/orbit_server.proto
orbit_server.proto/
Assets/Resources/Images/Terrain/bdin_pass_01.png.meta
Assets/Arts/Temp
Assets/Arts/Temp.meta
Assets/Arts/Map
Assets/Arts/Map.meta
Assets/Scenes/SceneTest.unity
Assets/Scenes/SceneTest.unity.meta
Assets/UWA/
Assets/UWA.meta
Assets/Plugins/Android/uwa
Assets/Plugins/Android/uwa.meta
Assets/Plugins/Android/libs/x86/libuwa.so
Assets/Plugins/Android/libs/x86/libuwa.so.meta
Assets/Plugins/Android/libs/armeabi-v7a/libuwa.so
Assets/Plugins/Android/libs/armeabi-v7a/libuwa.so.meta
Assets/GameFrameworkDebugger
.gitmodules
